# This is a notebook to practice and explore pandas and python

## Excercies Part I

In [5]:
import pandas as pd

In [3]:
fruits = pd.Series(    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

In [15]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

## 1.

Determine the number of elements in fruits.

In [14]:
fruits.size

17

## 2.

Output only the index from fruits.

In [8]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

## 3.

Output only the values from fruits.

In [138]:
fruits.values.tolist()

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

## 4.

Confirm the data type of the values in fruits.

In [140]:
fruits.dtype

dtype('O')

## 5.

Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [18]:
fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [45]:
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [44]:
fruits.sample(2)

13     blueberry
4     gala apple
dtype: object

## 6.

Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [46]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

## 7.

Run the code necessary to produce only the unique string values from fruits.

In [141]:
fruits.value_counts().index.tolist()

['kiwi',
 'mango',
 'watermelon',
 'strawberry',
 'honeydew',
 'honeycrisp apple',
 'blackberry',
 'gooseberry',
 'gala apple',
 'papaya',
 'pineapple',
 'tomato',
 'blueberry']

## 8.

Determine how many times each unique string value occurs in fruits.

In [66]:
fruits.value_counts()

kiwi                4
mango               2
watermelon          1
strawberry          1
honeydew            1
honeycrisp apple    1
blackberry          1
gooseberry          1
gala apple          1
papaya              1
pineapple           1
tomato              1
blueberry           1
dtype: int64

## 9.

 Determine the string value that occurs most frequently in fruits.

In [97]:
fruits.value_counts().idxmax()

'kiwi'

## 10.

Determine the string value that occurs least frequently in fruits.

In [143]:
fruits.value_counts().nsmallest(n=1, keep='all')

watermelon          1
strawberry          1
honeydew            1
honeycrisp apple    1
blackberry          1
gooseberry          1
gala apple          1
papaya              1
pineapple           1
tomato              1
blueberry           1
dtype: int64

## Exercises Part II

# 1.

Capitalize all the string values in fruits.

In [253]:
fruits.str.capitalize().tolist()

['Kiwi',
 'Mango',
 'Strawberry',
 'Pineapple',
 'Gala apple',
 'Honeycrisp apple',
 'Tomato',
 'Watermelon',
 'Honeydew',
 'Kiwi',
 'Kiwi',
 'Kiwi',
 'Mango',
 'Blueberry',
 'Blackberry',
 'Gooseberry',
 'Papaya']

## 2.

Count the letter "a" in all the string values (use string vectorization).

In [166]:
sum(fruits.str.count('a'))

14

## 3.

Output the number of vowels in each and every string value.

In [227]:
sum(fruits.str.count(r'[aeiou]'))

49

## 4.

Write the code to get the longest string value from fruits.

In [233]:
max(fruits, key =len)

'honeycrisp apple'

## 5.

Write the code to get the string values with 5 or more letters in the name.

In [246]:
fruits[fruits.str.len()>5].tolist()

['strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

## 6

Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [252]:
fruits[fruits.apply(lambda n: n.count('o') >= 2)].tolist()

['tomato', 'gooseberry']

## 7.

Write the code to get only the string values containing the substring "berry".

In [251]:
fruits[fruits.apply(lambda n: "berry" in n)].tolist()

['strawberry', 'blueberry', 'blackberry', 'gooseberry']

## 8.

Write the code to get only the string values containing the substring "apple".

In [254]:
fruits[fruits.apply(lambda n: "apple" in n)].tolist()

['pineapple', 'gala apple', 'honeycrisp apple']

## 9.

Which string value contains the most vowels?

In [255]:
fruits[max(fruits.str.count(r'[aeiou]'))]

'honeycrisp apple'